body{
    background-color: crimson;
}

.a, .b, .c {
    position: relative;
    width: 20px;
    height: 200px;
    display: flex;
    border-radius: 20px;
    background-color: black;
    transition: .3s;
    transition-delay: .2s;
    margin-left: 200px;
}
.a img, .b img, .c img {
    border-radius: 15px;
    
}
.a:hover, .b:hover, .c:hover{
    width: 400px;
    transition-delay: .1s;
}

.a p, .b p, .c p{
    color: aliceblue;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    font-size: 12px;
}
.a:hover p, .b:hover p, .c:hover p{
    opacity: 1;
    visibility: visible; 
    transition-delay: .3s;
}
.a p, .b p, .c p{
    font-size: 11px;
}

.a h2,.b h2, .c h2{
    color: aliceblue;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
}
.a:hover h2, .b:hover h2, .c:hover h2{
    opacity: 1;
    visibility: visible; 
    transition-delay: .3s;
    
}

.cards{
    display:flex;
    text-align: center;
    margin-left: 290px;
    margin-top: 50px;
}
h1{
    text-align: center;
    font-size: 35px;
    padding: 3px;
}
